.container-big-card {
    width: 600px;
    margin-bottom: 3rem;
}

.big-card-img img{
    width: 100%;
    min-width: 400px;
}

.big-card__title a h2{
    margin-top: 1rem;
}

.description > p {
    color: #a5a5a5;
    margin-top: .5rem;
    line-height: 25px;
}








