.container-small-card {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1.5rem;
    border-bottom: 1px solid #575656cb;
}

.img-card img {
    width: 200px;
   
    min-width: 200px
}


.title-card h2 {
    font-size: 1rem;
    line-height: 27px;

}

@media screen and (min-width:320px) and (max-width: 480px) {
    .container-small-card {
       flex-direction: column;
    }

    .img-card img {
        width: 100%;
        min-width: 200px;
    }
}