
.container-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

img {
    width: 950px;
    height: 550px;
    margin: 0 auto;
    border-radius: 10px;
}

.content-title {
    margin-bottom: .7rem;
}

.content-description > p {
    margin-bottom: 1rem;
    color: #918f8f;
    line-height: 23px;
}

.content-main  {
    margin-top: 1rem;
    line-height: 26px;
    color: #918f8f;
}


