@media screen and (min-width:320px) and (max-width: 480px) {
    .nav-bar {
        max-width: 300px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
    .nav-itens {
        gap: 1rem;
    }

    .nav-itens > li  {
        font-size: .675rem;
    }

    .social-icons {
       display: none;
    }


}